@import url("reset.css");

html, body {
  padding: 0;
  margin: 0;
}

#mapDivA, #mapDivB, #mapDivC {
  height: 200px;
}

#templatedWidget {
  background-image: url('img/gray-gradient.jpg');
  background-repeat: repeat-x;
  height: 200px;
}
